# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# User energy plus settings
simulation_settings/
outs/

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST 

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal 

# E+ data 
src/simstock/idf_files

# Ignore any local jupyter notebooks
# (I tend to use these for experimenting with the code
# during development)
*.ipynb

# Local simulation data
data/

# Other files used for testing
processed_croydon.csv
simstock_v2_pt2_selection_202203170624.csv
processed_sdf
model_idfs/